@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  padding: 0;
}

.slick-list {
  max-width: 330px !important;
}

.slick-track {
  gap: 10px !important;
  display: flex !important;
}

.slick-prev {
  left: -16px !important;
}

.slick-next {
  right: -25px !important;
}

@media only screen and (max-width: 450px) {
  .slick-list {
    max-width: 230px !important;
  }
  .slick-next {
    right: -16px !important;
  }
}

.slick-arrow::before {
  @apply !text-yellow-500 opacity-100;
}